<div class="btn">
  <div [style.fontSize.px]="tamano" class="cuadro">
    Alba
  </div>


      <button type="button" (click)="aumentar()" [disabled]= "tamano===500" class="boton">
        Aumentar
      </button>
      <button type="button" (click)="disminuir()" [disabled]= "tamano===5" class="boton">
        Disminuir
      </button>
      <div class="advertencia">
        <span>{{ text }}</span>
      </div>
</div>